<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgSGzd19Efko1OEyN7B8aNbRXoDqDAQSY</string>
	<key>GCM_SENDER_ID</key>
	<string>319084107267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.oscar.Swift-ToDo</string>
	<key>PROJECT_ID</key>
	<string>swift-todo-70e46</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-todo-70e46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319084107267:ios:6d901f8cb047ad19bca036</string>
</dict>
</plist>